<app-nav-bar></app-nav-bar>
<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="assets/Images/Logo4.png" style="position: absolute; top: 10px; left: 80px;">
        <h2 style="font-size: 25px;position: absolute; top: 28px; left: 140px;"> Your Intelligent Financial Advisor !
        </h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item item-1">
      <div class="img-fill">
        <div class="text-content">
          <h6>we are ready to help you</h6>
          <h4>Financial Analysis<br>&amp; Consulting</h4>
          <a href="/consultation" class="filled-button">Start Consultation</a>
        </div>
      </div>
    </div>
    <!-- // Item -->
    <!-- Item -->
    <div class="item item-2">
      <div class="img-fill">
        <div class="text-content">
          <h6>we are ready to help you</h6>
          <h4>Financial Analysis<br>&amp; Consulting</h4>
          <a href="/consultation" class="filled-button">Start Consultation</a>
        </div>
      </div>
    </div>
    <!-- // Item -->
    <!-- Item -->
    <div class="item item-3">
      <div class="img-fill">
        <div class="text-content">
          <h6>we are ready to help you</h6>
          <h4>Financial Analysis<br>&amp; Consulting</h4>
          <a href="/consultation" class="filled-button">Start Consultation</a>
        </div>
      </div>
    </div>
    <!-- // Item -->
  </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Request a call back right now ?</h4>
      </div>
      <div class="col-md-4">
        <a href="#" class="border-button">Contact Us</a>
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Financial <em>Services</em></h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/template/assets/images/service_01.jpg" alt="">
          <div class="down-content">
            <h4 style="color: #707070;">Digital Currency</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/template/assets/images/service_02.jpg" alt="">
          <div class="down-content">
            <h4 style="color: #707070;">Market Analysis</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/template/assets/images/service_03.jpg" alt="">
          <div class="down-content">
            <h4 style="color: #707070;">Historical Data</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img src="assets/template/assets/images/more-info.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                <h2 style="color: #707070;">Get to know about <em>our company</em></h2>
                <p>Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh,
                  id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus<br><br>Praes end at dictum
                  metus. Morbi id hendrerit lectus, nec dapibus ex. Etiam ipsum quam, luctus eu egestas eget, tincidunt
                </p>
                <a href="#" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>What they say <em>about us</em></h2>
          <span>testimonials from our greatest clients</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-testimonials owl-carousel">

          <div class="testimonial-item">
            <div class="inner-content">
              <h4>George Walker</h4>
              <span>Chief Financial Analyst</span>
              <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem
                sit amet quam. Pellentesque in sagittis lacus."</p>
            </div>
          </div>

          <div class="testimonial-item">
            <div class="inner-content">
              <h4>John Smith</h4>
              <span>Market Specialist</span>
              <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan,
                arcu id ornare malesuada, est nulla luctus nisi."</p>
            </div>
          </div>

          <div class="testimonial-item">
            <div class="inner-content">
              <h4>David Wood</h4>
              <span>Chief Accountant</span>
              <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae
                egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
            </div>
          </div>

          <div class="testimonial-item">
            <div class="inner-content">
              <h4>Andrew Boom</h4>
              <span>Marketing Head</span>
              <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis
                quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright &copy; 2021 - Developed by : <a rel="nofollow noopener" href="http://www.finlogik.com/" target="_blank">FinLogik</a></p>
      </div>
    </div>
  </div>
</div>