<form [formGroup]="service.formModel" class="login100-form validate-form" autocomplete="off" (submit)="onSubmit()">
  <span class="login100-form-title p-b-20">
    Join <img src="assets/Images/Logo1.png"  style="vertical-align:middle;">
  </span>
  <div class="wrap-input100 validate-input">
    <input class="input100" type="text" formControlName="UserName" (blur)="onBlurMethod($event)">
    <span class="focus-input100"></span>
    <span class="label-input100">Username <label class="text-danger"
        *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This
        field is mandatory.</label> </span>

  </div>

  <div class="wrap-input100 validate-input">
    <input class="input100" type="text" formControlName="Email" (blur)="onBlurMethod($event)">
    <span class="focus-input100"></span>
    <span class="label-input100">Email <label class="text-danger"
        *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid
        email address.</label></span>

  </div>

  <div class="wrap-input100 validate-input">
    <input class="input100" type="text" formControlName="FullName" (blur)="onBlurMethod($event)">
    <span class="focus-input100"></span>
    <span class="label-input100">Full Name <label class="text-danger"
        *ngIf="service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required">This
        field is mandatory.</label></span>
  </div>
  <div formGroupName="Passwords">

    <div class="wrap-input100 validate-input">
      <input class="input100" type="password" formControlName="Password" (blur)="onBlurMethod($event)">
      <span class="focus-input100"></span>
      <span class="label-input100">Password <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
          field is mandatory.</label>
        <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum
          4 characters required.</label></span>

    </div>

    <div class="wrap-input100 validate-input">
      <input class="input100" type="password" formControlName="ConfirmPassword" (blur)="onBlurMethod($event)">
      <span class="focus-input100"></span>
      <span class="label-input100">Confirm Password <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
          field is mandatory.</label>
        <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
          Password does not match.</label></span>

    </div>
  </div>

  <div class="container-login100-form-btn">
    <button type="submit" class="login100-form-btn" [disabled]="!service.formModel.valid">Sign Up</button>
  </div>
</form>